{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b2a.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b3a.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b4a.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block livesale %}
<!-- Live Sale Section -->
<div style="width: 100%;">
  <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
    <h1>SALE IS LIVE NOW</h1>
    <span>5% Instant Discount on Axis Bank Credit and Debit Card</span>
    <small class="fw-lighter">Term and Condition Applied (For details visit Bank's official Website)</small>
  </div>
</div>
<!-- End Live Sale Section -->
{% endblock livesale %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
 <h2>Pharmanic General Medicines</h2>
 <!-- Slider 1 -->
 <div class="owl-carousel" id="slider1">
 {% for g in general %}
  <a href="{% url 'product-detail' g.id %}" class="btn"><div class="item"><img src="{{ g.product_image.url }}" alt="" height="200px"><span style="font-weight:bold; font-size:16px;"> {{ g.title }} </span><br><span style="font-size:14px;">Rs. {{ g.discounted_price }} </span></div></a>
 {% endfor %}
 </div>
</div>
<!-- End 1st Product Slider -->

<!-- Payment Info Section -->
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
     <img src="{% static 'app/images/payavail/razorpay.jpg' %}" alt="" srcset="" class="sizeImage">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3 paytmContainer">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/upi1.jpg' %}" alt="" srcset="" class="sizeImage">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/paytm.jpg' %}" alt="" srcset="" class="sizeImage">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'app/images/payavail/bj.jpg' %}" alt="" srcset="" class="sizeImage">
     </div>
   </div>
  </div>
 </div>
</div>
<!-- End Payment Info Section -->

<!-- 2nd Product Slider -->
<div class="mx-3">
 <h2>Pharmanic Ayurvedic Medicines</h2>
 <!-- Slider 2 -->
 <div class="owl-carousel" id="slider2">
 {% for a in ayurvedic %}
  <a href="{% url 'product-detail' a.id %}" class="btn"><div class="item"><img src="{{ a.product_image.url }}" alt="" height="200px"><span style="font-weight:bold; font-size:16px;"> {{ a.title }} </span><br><span style="font-size:14px;">Rs. {{ a.discounted_price }} </span></div></a>
 {% endfor %}
 </div>
</div>
<!-- End 2nd Product Slider -->

<!-- 3rd Product Slider -->
<div class="mx-3">
 <h2>Pharmanic Healthcare Products</h2>
 <!-- Slider 3 -->
 <div class="owl-carousel" id="slider3">
 {% for h in healthcare %}
  <a href="{% url 'product-detail' h.id %}" class="btn"><div class="item"><img src="{{ h.product_image.url }}" alt="" height="200px"><span style="font-weight:bold; font-size:16px;"> {{ h.title }} </span><br><span style="font-size:14px;">Rs. {{ h.discounted_price }} </span></div></a>
 {% endfor %}
 </div>
</div>
<!-- End 3rd Product Slider -->

{% endblock main-content %}
